header {
	position: sticky;
	top: 0;
	background-color: #FEEBE7;
	justify-content: space-between;
	z-index: 100%;
	display: flex;
}

header nav {
	padding: 0;
	margin: 2px;
	display: flex;
}

header nav ul {
	display: flex;
}

header nav li {
	list-style: none;
	margin-right: 40px;
}

 header img {
 	position: margin-right;
 	margin: 10px;
 }
