body {

}

header {
	position: sticky;
	top: 0;
	background-color: #FEEBE7;
	border-style: outset;
	justify-content: space-between;
	z-index: 100%;
	display: flex;
}

header nav {
	padding: 0;
	margin: 2px;
	display: flex;
}

header nav ul {
	display: flex;
}

header nav li {
	list-style: none;
	margin-right: 40px;
}

header img {
 	position: margin-right;
 	margin: 10px;
 }


.encabezado {
	border-style: ridge;
	padding-top: 0;
	background-color: #FFFAF0;
	overflow: hidden;
}

.seccionTitulo {
	height: 350px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.seccionTitulo ul {
	list-style: none;
	margin-right: 100px;
}

.healthy {
	font-size: 14px;
	margin: 0;
	width: 340px;
	display: flex;
}

h1 {
	font-size: 45px;
	margin-top: 0;
	margin-bottom: 0;
}

.seccionTitulo h2 {
	font-size: 45px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}

.verReceta {
	height: 30px;
	width: 90px;
	font-size: 11px;
	color: #FA8072;
	border: 1px solid;
	border-radius: 62px;
	text-align: center;
	margin-top: 10px;
}

.categorias {
	display: flex;
	height: 50px;
	background-color: white;
	align-items: center;
}

.categorias h4 {
	color: grey;
	font-weight: normal;
	margin-left: 60px;
}

.categorias ul{
	list-style: none;
	display: flex;
}

.categorias li{
	margin-right: 25px;
	font-weight: bold;
}